<div class="blog-card-no-page">
    <h2 class="text-title text-yellow">Oops...</h2>
    <h3 class="text-title-smaller">It seems like there are no blog posts here... yet ;)</h3>

    <form action="/create" method="get">
        <button class="background-blue text-button" type="submit">Create post</button>
      </form>
    </div>
</div>